.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(87,111,30,0.3) ;
  gap: 20px;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  border: none;
  background-color: white;
  box-shadow: 0 0 10px rgba(87,111,30,0.3);
  font-weight: bold;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}


.redNumber {
  color: red;
}
